
@{
    ViewBag.Title = "Inicio";

}
<!--Iconos de Google-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<h2>Bienvenidos a nuestro sistema de facturación.</h2>
<hr>
<div class="jumbotron" style="color:black">
    <i class="material-icons" style="color:black; font-size:500%;">chevron_left</i>
    <i class="material-icons" style="color:black; font-size:500%;">pan_tool</i>
    <i class="material-icons" style="color:black; font-size:500%;">chevron_right</i>
    <p class="lead">
                    -Cualquier tecnología lo suficientemente avanzada es indistingible de la magia.<br />
                    -En teoría, la teoría y la práctica son los mismos. En la práctica, no lo son.</p>
    
</div>


